
@{
    ViewData["Title"] = "AboutUs";
}
<div>
    <h1 style="align-content:center; color:pink;text-align:center">Welcome to Tărâmul Margaretelor!</h1>
    <div style="background-color:pink; padding:25px;text-align:center">
    <p>
        At taramulmargaretelor.ro, we celebrate creativity and individuality through handcrafted polymer clay jewelry. Each piece is carefully designed with love and attention to detail, bringing a touch of uniqueness to your everyday style.
    </p>
    <p>
        As a small local business, we take pride in offering one-of-a-kind creations that reflect passion, artistry, and a personal connection to our community. Whether you're looking for a statement piece or a subtle accent, our collection is inspired by the beauty around us and made to bring joy to you and those you cherish.
    </p>
    <p>
        Thank you for supporting local artistry. Together, we make every moment sparkle!
    </p>
    </div>
</div>


